extend default

block content
  p Get in touch for any reason.
  p #[span Email:] #[a(href='mailto:matt@mattbarton.org') matt@mattbarton.org]
  p #[span Twitter:] #[a(href='https://twitter.com/@MattBarton_') @MattBarton] #[span (content warning for foul language and stridently left-wing politics)]
  p #[span Facebook: via the] #[a(href='#fb') Steel City Striders] #[span group] 