doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title=title
  body
    .header
      h1.page-title Strider Finder

    ul.nav
      li: a(href='/') Home
      li: a(href='/about') About
      li: a(href='/contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2017 Matt Barton
