extend default

block content
  p.
    File upload:

  div
    input(type='file', id='resultsFile')
    input(type='button', id='goUpload', value='Upload')

  div.datagrid(id='uploadResults')
    table(id='resultsTable')