extend default

block content

  p This tool is available for members of the Striders Webmasters Facebook group. Please click below to authenticate with your Faecbook account.
  
  a(href='/auth/facebook')
    img(src='/images/fb_login.png', alt='Login with Facebook')
