@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
}
.header {
  background: url("/images/peaks.jpg?crop=edges&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=925");
  background-position: center;
}
.header .page-title {
  font-weight: 200;
  font-size: 60px;
  text-align: center;
  padding: 100px;
  text-transform: uppercase;
  color: #fff;
}
.nav {
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
.datagrid {
  font: normal 12px/150% Courier New, Courier, monospace;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.datagrid table {
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.datagrid table td,
.datagrid table th {
  padding: 3px 10px;
}
.datagrid table thead th {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #103a6b), color-stop(1, #58b3e8));
  background: -moz-linear-gradient(center top, #103a6b 5%, #58b3e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103A6B', endColorstr='#58B3E8');
  background-color: #103a6b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-left: 1px solid #0070a8;
}
.datagrid table tbody td {
  color: #00496b;
  border-left: 1px solid #e1eef4;
  font-size: 12px;
  font-weight: normal;
}
.datagrid table tbody .alt td {
  background: #e1eef4;
  color: #00496b;
}
div#uploadResults div#resultsLength {
  margin-top: 20px;
}
div#pasteText,
div#fileUpload {
  margin-top: 20px;
}
